<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Listagem de Produtos - SENAI</h1>
        <p>Sistema de cadastro de produtos feito na materia de Desenvolviemnto Web</p>
    </div>



    <div class="container mt-5">
        <form class="container" id="formProduto">
            <div class="row mb-5">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nome do Produto" id="nome">
                </div>
                <div class="col">
                    <input type="number" step="0.01" class="form-control" placeholder="Preço (R$)" id="preco">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
                </div>
            </div>
        </form>
        <div class="row">
            <% produtos.forEach( produto=>{ %>
                <div class="col sm-4 mb-2">
                    <div class="card">
                        <img class="card-img-top" src="https://www.w3schools.com/bootstrap5/img_avatar3.png" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title"> <%= produto.nome %> </h4>
                            <p class="card-text"> <%= produto.preco %> </p>
                            <div class="btn-group-2">
                                <button class="btn btn-danger" onclick="deletar(<%= produto.id %>)">Deletar</button>
                                <button class="btn btn-warning" onclick="atualizar(<%= produto.id%>, '<%= produto.nome %>', <%= produto.preco %>)">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <%}); %>
        </div>
    </div>

    <script>
        const form = document.getElementById('formProduto')
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            const nome = document.getElementById('nome').value;
            const preco = parseFloat(document.getElementById('preco').value);

            const res = await fetch('/produtos', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ nome, preco })
            });

            if (res.ok) {
                alert('Produto cadastrado com sucesso')
                window.location.reload();
            } else {
                alert('Erro ao cadastrar o produto.')
            }
        });

        async function deletar(id) {
            if (!confirm('Tem certeza que deseja deletar este produto?')) return;

            const res = await fetch('/produtos/' + id, {
                method: 'DELETE',
                headers: { 'Content-Type': 'application/json' }
            });

            if (res.ok) {
                alert('Produto excluido com sucesso!')
                window.location.reload();
            } else {
                alert('Erro ao deletar o produto.');
            }
        }

        async function atualizar(id, nomeAtual, precoAtual) {
            const novoNome = prompt('Novo nome:', nomeAtual);
            if (novoNome === null) return;
            if (novoNome.trim() === '') {
                alert('O nome não pode ser vazio!');
                return;
            }

            const novoPreco = parseFloat(prompt('Novo preço:', precoAtual));
            if (novoPreco === null) return;
            if (isNaN(novoPreco)) {
                alert('O preço não pode ser vazio!');
                return;
            }

            const res = await fetch('/produtos/' + id, {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ nome: novoNome, preco: novoPreco })
            });

            if (res.ok) {
                alert('Produto atualizado com sucesso!');
                window.location.reload();
            } else {
                alert('Erro ao atualizar o produto.');
            }
        }
    </script>
</body>

</html>